---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/comments
    body:
      encoding: UTF-8
      string: '{"rich_text":[{"text":{"content":"test comment"}}],"parent":{"page_id":"3e4bc91d36c74de595113b31c6fdb82c"}}'
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24e-lwOvl3pLRgq3uaVwDU7YNYGeauA"
    body:
      encoding: UTF-8
      string: '{"object":"comment","id":"95ef4675-e3c0-428c-b937-ac8d6805ac04","parent":{"type":"page_id","page_id":"3e4bc91d-36c7-4de5-9511-3b31c6fdb82c"},"discussion_id":"4cbe01af-8163-4b03-957d-cac2691b9839","created_time":"2022-09-02T16:26:00.000Z","last_edited_time":"2022-09-02T16:26:00.000Z","created_by":{"object":"user","id":"3eb712e5-c1d7-43f2-ae18-c4d36f846aa1"},"rich_text":[{"type":"text","text":{"content":"test
        comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test
        comment","href":null}]}'
  recorded_at: Fri, 02 Sep 2022 16:26:31 GMT
recorded_with: VCR 6.0.0
