---
http_interactions:
- request:
    method: patch
    uri: https://api.notion.com/v1/databases/dd428e9dd3fe4171870da7a1902c748b
    body:
      encoding: UTF-8
      string: "{\"title\":[{\"text\":{\"content\":\"Orbit \U0001F49C Notion\"}}]}"
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2021-08-16'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com
        https://js.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com
        https://platform.twitter.com https://cdn.syndication.twimg.com https://www.googletagmanager.com
        https://x.clearbitjs.com https://client-registry.mutinycdn.com https://client.mutinycdn.com/
        https://user-data.mutinycdn.com; connect-src ''self'' https://msgstore.www.notion.so
        wss://msgstore.www.notion.so ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com
        https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://cdn.segment.com https://api.segment.io https://analytics[...]
